#main_text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 75px;
  /* padding-top: 250px; */
  text-align: center;
}

#sub_text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  /* padding-top: 10px; */
  text-align: center;
}

/* Info box */

#info {
  background-color: darkgray;
  /* padding-bottom: 757px; */
}

#info_title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  /* padding-bottom: 757px; */
}

/* Gift box */

#gifts {
  background-color: white;
  /* padding-bottom: 757px; */
}

#gift_title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  /* margin-top: 0px; */
}

/* Link box */

#main_linkbox {
  background-color: gray;
  /* padding-bottom: 300px; */
}

#linkbox_text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  text-decoration: none;
}

#linkbox_title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  text-decoration: none;
  /* padding-bottom: 10px; */
}